.footer{
    // width: 100%;
    display: block;
    
    .top-row{
        h2{
            margin: 1rem auto;
        }

        .icons{
           margin: 1.5rem auto; 
        }
    }
    .bottom-row{
       p{
        margin: 2rem auto;
       }
        .imps{
            width: 100%;
            display: flex;
            justify-content: space-around;
            margin-top: 1rem;
            small{
                cursor: pointer;
                margin: auto 2rem;
            }
        }

        .social-icons{
            width: 100%;
            justify-content: space-evenly;
             margin: 3.5rem auto;

        }
    }

}
